@mixin center {
    text-align:center;
}

@mixin padding {
    padding-left:30%;
    padding-right:30%;
}

@mixin flexSpaceBetween {
    display:flex;
    justify-content:center;
    justify-content:space-between;
}
  
.badgesContainer {
    @include flexSpaceBetween;
    @include padding;
}

.section {
    padding: 5%;
    @include padding;
}

footer {
    @include flexSpaceBetween;
    @include center;
    @include padding;
}

.center {
    @include center;
}